<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            <h2 class="title is-2 has-text-centered">Customer List&nbsp;<a th:href="@{/api/CustomerService/customers/add}" th:text="Add" class="button"></a></h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">

                

                
                <table  id="theData" class="table centered is-striped">
                    <thead>
                        <tr>

                            <th style="width: 150px;">Customer ID</th>
                            <th style="width: 150px;">Fullname</th>
                            <th style="width: 150px;">City</th>
                            <th style="width: 150px;">Phone Number</th>
                            <th style="width: 150px;">Address</th>
                            <th style="width: 150px;">Birthday</th>
                            <th style="width: 150px;">Province</th>
                            <th style="width: 150px;">Loyalty Card</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.fullName}"></td>
                            <td th:text="${customer.city}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.address1}"></td>
                            <td th:text="${customer.birthDate}"></td>
                            <td th:text="${customer.province}"></td>
                            <td th:text="${customer.loyaltyCard}"></td>

                            <td><a th:href="@{/api/CustomerService/edit(id=${customer.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/api/CustomerService/delete(id=${customer.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
                <form th:object="${customers}" action="/api/CustomerService/customers/file" th:action="@{/api/CustomerService/customers/file}" method="post" class="form-horizontal">
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Export Data</button>
                    </div>
                </form>

                
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
